In [118]:
import pandas as pd
import numpy as np

In [119]:
df = pd.read_csv("imdb.csv")
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [121]:
## List all movies released after the year 2010.
df["Released_Year"] = pd.to_numeric(df["Released_Year"], errors='coerce')
movies_after_2010 = df[df['Released_Year'] > 2010 ]

In [122]:
print(movies_after_2010[['Series_Title',"Released_Year"]])

           Series_Title  Released_Year
18             Hamilton         2020.0
19         Gisaengchung         2019.0
20      Soorarai Pottru         2020.0
21         Interstellar         2014.0
33                Joker         2019.0
..                  ...            ...
901        End of Watch         2012.0
903      A Star Is Born         2018.0
907               50/50         2011.0
910           Moneyball         2011.0
911  La piel que habito         2011.0

[225 rows x 2 columns]

In [123]:
## Show all movies with an IMDB rating higher than 8.5.
df["IMDB_Rating"].astype(float)
movies_with_IMDB= df[df["IMDB_Rating"] > 8.5]
print("Movies with IMDB rating > 8.5:")
print(movies_with_IMDB[["Series_Title", "IMDB_Rating"]])

Movies with IMDB rating > 8.5:
                                         Series_Title  IMDB_Rating
0                            The Shawshank Redemption          9.3
1                                       The Godfather          9.2
2                                     The Dark Knight          9.0
3                              The Godfather: Part II          9.0
4                                        12 Angry Men          9.0
5       The Lord of the Rings: The Return of the King          8.9
6                                        Pulp Fiction          8.9
7                                    Schindler's List          8.9
8                                           Inception          8.8
9                                          Fight Club          8.8
10  The Lord of the Rings: The Fellowship of the Ring          8.8
11                                       Forrest Gump          8.8
12                    Il buono, il brutto, il cattivo          8.8
13              The Lord of the Rings: The Two Towers          8.7
14                                         The Matrix          8.7
15                                         Goodfellas          8.7
16     Star Wars: Episode V - The Empire Strikes Back          8.7
17                    One Flew Over the Cuckoo's Nest          8.7
18                                           Hamilton          8.6
19                                       Gisaengchung          8.6
20                                    Soorarai Pottru          8.6
21                                       Interstellar          8.6
22                                     Cidade de Deus          8.6
23                      Sen to Chihiro no kamikakushi          8.6
24                                Saving Private Ryan          8.6
25                                     The Green Mile          8.6
26                                    La vita è bella          8.6
27                                              Se7en          8.6
28                           The Silence of the Lambs          8.6
29                                          Star Wars          8.6
30                                            Seppuku          8.6
31                               Shichinin no samurai          8.6
32                              It's a Wonderful Life          8.6

In [135]:
## List all movies in the Drama genre.
df["Genre"].str.split(", ").explode().value_counts().head()
Only_Drama = df[df["Genre"] == "Drama"]
print(Only_Drama[["Series_Title", "Genre"]])

                        Series_Title  Genre
0           The Shawshank Redemption  Drama
9                         Fight Club  Drama
17   One Flew Over the Cuckoo's Nest  Drama
20                   Soorarai Pottru  Drama
40                American History X  Drama
..                               ...    ...
933             Synecdoche, New York  Drama
934                  Mysterious Skin  Drama
941                        25th Hour  Drama
946                Y tu mamá también  Drama
981                   On Golden Pond  Drama

[85 rows x 2 columns]

In [ ]:
## Find movies with a runtime greater than 150 minutes.
df["Runtime"].str.replace("min", "", regex=True) # remove min 
Movie_greater_150_min = df[df["Runtime"] > 150]
print(Movie_greater_150_min[["Series_Title", "Runtimwe"]])

AttributeError: Can only use .str accessor with string values!